
<form method="post" asp-action="Index" id="payment-form">
    <div class="wrapper">
        <div class="checkout container">
            <header>
                <h1 class="text-info">Test a Random Transaction between 1-100 using </h1>
                <p class="text-success">
                    Make a test payment with Braintree using PayPal or a card
                </p>
            </header>
            <section>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>
            <input id="nonce" name="payment_method_nonce" type="hidden" />
            <button class="button" id="submit-button"><span>Test Transaction</span></button>
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://js.braintreegateway.com/web/dropin/1.21.0/js/dropin.min.js"></script>
    <script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');
    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        paypal: {
            flow: 'vault'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }
                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
    </script>
}