<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control">Create</button>
    </div>
    <div class="col">
        <a asp-action="Index"  class="btn btn-success form-control">Back to List</a>
    </div>
</div>